# Ambiente Virtual
venv/
.venv/

# Arquivos compilados do Python
__pycache__/
*.pyc

# Arquivos de sessão do Flask
flask_session/

# Arquivos e pastas do PyInstaller
build/
dist/
*.spec

# Outros
.DS_Store